<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogglyAppender" />
    </root>
    <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
      <rootUrl value="http://logs-01.loggly.com/" />
      <inputKey value="13cd2b2d-f76f-4882-ac27-51d20c4db16b" />
      <tag value="log4net" />
    </appender>
  </log4net>
</configuration>